<% songs.each do |song| %>
  <div class="song-card">
    <p>
    Title: <%= song.title %>
    Genre: <%= song.genre %>
    Release On: <%= song.released_on %>
    Rating: <%= song.rating %>
  </div>
<% end %>

