<h1>Homepage!</h1>

<div>
<%= render("billboards/billboards", billboards: @billboards) %>
</div>

    <nav class="bottomnav">
      <%= link_to("Songs", songs_path)%>
      <%= link_to("Billboards", billboards_path)%>
      <%= link_to("Artists", artists_path)%>
    </nav>
