body {
	margin: 40px;
	background-image: url("music.jpg");
	background-repeat: no-repeat;
  background-size: cover;
}

div {
	background-color: transparent;
	max-height: 470px;
	min-height: 470px;
	overflow: auto;
}

p {
	word-spacing: -1px;
}

.appnav {
 font-size: 20px;
 word-spacing: 30px;
}

.bottomnav {
	font-size: 20px;
	word-spacing: 30px;
	position: fixed;
  bottom: 0;
	padding: 60px 10px;

}


a:link {
  background-color: transparent;
	text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
	text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
	text-decoration: underline overline;
	}

a:active {
  background-color: transparent;
  text-decoration: underline;
}

